<% if signed_in? %>
	<div class="col-lg-12">
		<div class="col-lg-2">
		</div>

		<div class="col-lg-3">
		<a href="/report">
			<div class="bg-vsales">
				<div class="centreso">
					LAPORAN <br><br> PENJUALAN
				</div>
			</div>
		</a>
		</div>
		<div class="col-lg-1"></div>

		<div class="col-lg-3">
		<a href="/posemail">
			<div class="bg-email">
				<div class="centreso">
					LAPORAN <br><br> POSEMAIL
				</div>
			</div>
		</a>
		</div>
	</div>
<% end %>